.container {
  max-width: 1000px;
  padding: 0 var(--spacing-6);
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    padding: var(--spacing-8) var(--spacing-12);
  }
}

.backToHome {
  margin: 3rem 0 0;
}
