.section {
  padding: 4rem 0;
  position: relative;
}

.container {
  max-width: 1000px;
  padding: 2rem 4rem;
  margin: 0 auto;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-bottom: var(--spacing-2);
  border-bottom: 3px solid var(--color-border);
}

@media (min-width: 600px) {
  .title {
    font-size: var(--fontSize-4);
  }
}

@media (min-width: 768px) {
  .title {
    font-size: var(--fontSize-5);
    margin: 0 0 var(--spacing-6);
  }
}

.borderCircle {
  border-radius: 9999px;
}
